# Environment templates
jinja2>=2.10.1

# Config management
xdg>=5.0.0

# Setup
GitPython>=3.1.0
networkx>=2.6.0

# Memory metrics
humanize>=4.3.0
pyelftools>=0.29

# Misc
pyyaml>=6.0
pandas>=1.3.0
numpy>=1.21.0
psutil>=5.8.0

# Frontends
tflite>=2.4.0

# Sessions
tqdm>=4.64.0
