pyyaml
numpy
pyyaml
filelock
GitPython
jinja2
networkx
tqdm
pandas
xdg
Pillow

tflite # ???

# tvm
scipy
decorator
numpy
psutil
synr
tornado
tflite

# etiss
humanize
pyelftools

# tvm autotune
cloudpickle
psutil
xgboost

# visualize postprocess
matplotlib

# platforms
pyserial

# xlsx reports
openpyxl
xlsxwriter
xlwt

# espidf
click>=7.0
future>=0.15.2
cryptography>=2.1.4
pyparsing>=2.0.3,<2.4.0
idf-component-manager~=1.0
gdbgui==0.13.2.0
pygdbmi<=0.9.0.2
python-socketio<5
kconfiglib==13.7.1
reedsolo>=1.5.3,<=1.5.4
bitstring>=3.1.6
ecdsa>=0.16.0
construct==2.10.54

# relayviz
graphviz

# visualize_tflite
tensorflow

# microtvm
pyusb
pyserial
