# python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
# pip install -r $MLONMCU_HOME/deps/src/iree/integrations/tensorflow/test/requirements.txt
# pip install -r $MLONMCU_HOME/deps/src/iree/runtime/bindings/python/iree/runtime/build_requirements.txt
# pip install "tensorflow~=?"
tosa-converter-for-tflite==2025.11.0
onnx==1.20.1
