-r requirements.txt
pip>=21.1
bump2version==0.5.11
wheel>=0.38.1
#watchdog==0.9.0
flake8~=7.0.0
tox==3.14.0
pytest==6.2.5
pytest-console-scripts==1.2.1
coverage
black~=24.3.0
pylint
twine
black[jupyter]
