# TODO: versions
bitstring>=3.1.6
click>=7.0
construct==2.10.54
cryptography>=2.1.4
ecdsa>=0.16.0
future>=0.15.2
gdbgui==0.13.2.0
idf-component-manager~=1.0
itsdangerous<2.1
jinja2>=3.1.3
kconfiglib==13.7.1
psutil==5.9.3
pygdbmi<=0.9.0.2
pyparsing>=2.0.3,<2.4.0
pyserial
python-socketio<5
reedsolo>=1.5.3,<=1.5.4
