pyyaml
numpy
pyyaml
filelock
GitPython
jinja2
networkx
tqdm
pandas
xdg
Pillow

tflite # ???

# tvm
scipy
decorator
numpy
psutil
synr
tornado
tflite

# etiss
humanize
pyelftools

# tvm autotune
cloudpickle
psutil
xgboost

# visualize postprocess
matplotlib

# platforms
pyserial

# xlsx reports
openpyxl
xlsxwriter
xlwt
