# onnx==1.20.1
onnx
# onnxruntime==1.23.2
onnxruntime
protobuf>=4.25.0
onnxoptimizer>=0.3.13
# emx-onnx-cgen==0.4.5
emx-onnx-cgen @ git+https://github.com/emmtrix/emx-onnx-cgen.git@a21a9696251fe6fa24dcfc4e22dcb3280e555ebc  # 0.5.1.dev36
