# python -m pip install torch --index-url https://download.pytorch.org/whl/cpu
# python -m pip install -r iree/compiler/turbine/torch/tests/requirements.txt
# pip install -r $MLONMCU_HOME/deps/src/iree/integrations/tensorflow/test/requirements.txt
# pip install -r $MLONMCU_HOME/deps/src/iree/runtime/bindings/python/iree/runtime/build_requirements.txt
# pip install "tensorflow<=2.18.0"
