# This file must be used with "source activate" *from bash*
# you cannot run it directly


if [ "${BASH_SOURCE-}" = "$0" ]; then
    echo "You must source this script: \$ source $0" >&2
    exit 33
fi

MLONMCU_HOME='{{ home_dir }}'
export MLONMCU_HOME

source $(dirname "$0")/venv/bin/activate
