---
home: "{{ home_dir }}"
logging:
  level: DEBUG
  to_file: false
  rotate: false
cleanup:
  auto: true
  keep: 50
paths:
  deps: deps
  logs: logs
  results: results
  plugins: plugins
  temp: temp
  models:
    - "{{ home_dir }}/models"
    - "{{ config_dir }}/models"
repos:
  tensorflow:
    url: "https://github.com/tensorflow/tflite-micro.git"
    ref: 8eb6b23de4470d6a8da3131650d6a67514dfa130
  tvm:
    url: "https://github.com/apache/tvm.git"
    ref: 567eeed38bdbcefb68e36328af6ab1501a81d51e
    options:
      recursive: true
  muriscvnn:
    url: "https://github.com/tum-ei-eda/muriscv-nn.git"
    ref: bench_gcc14_llvm19
  spike:
    url: "https://github.com/riscv-software-src/riscv-isa-sim.git"
    ref: eb0a3e2b0a7c57522928be39de95cd9f8c6dc636
  spikepk:
    url: "https://github.com/PhilippvK/riscv-pk.git"
    ref: 54b1264e7f9f306d19c7e0fc6828289dccd1fda5
  cmsis:
    url: "https://github.com/ARM-software/CMSIS_5.git"
    ref: a75f01746df18bb5b929dfb8dc6c9407fac3a0f3
  cmsisnn:
    url: "https://github.com/ARM-software/CMSIS-NN.git"
    ref: 040da18234b597867bd54d736ca4ceae545b2853
  mlif:
    url: "https://github.com/tum-ei-eda/mlonmcu-sw.git"
    ref: fff2298f457326e800791f5e990f54a15b471f94
  tflite_pack:
    url: "https://github.com/tum-ei-eda/tflite-pack.git"
    ref: 2d31cafc941d3889b042af9c0a72b5f768ac4606
  layergen:
    url: "https://github.com/PhilippvK/ml-layer-gen.git"
    ref: 8d27988fe3a50838521e7c7fb42193da717c5830
frameworks:
  default: tvm
  tflm:
    enabled: true
    backends:
      default: tflmi
      tflmi:
        enabled: true
        features:
          debug_arena: true
    features:
      muriscvnn: true
      cmsisnn: false
  tvm:
    enabled: true
    backends:
      default: tvmaot
      tvmrt:
        enabled: true
        features:
          debug_arena: true
          disable_legalize: false
          autotuned: true
          moiopt: true
      tvmaot:
        enabled: true
        features:
          debug_arena: true
          unpacked_api: true
          usmp: true
          disable_legalize: false
          autotuned: true
          moiopt: true
      tvmaotplus:
        enabled: true
        features:
          debug_arena: true
          disable_legalize: false
          autotuned: true
          moiopt: true
    features:
      cmsisnnbyoc: false
      muriscvnnbyoc: false
frontends:
  tflite:
    enabled: true
    features:
      validate: true
      visualize: true
      split_layers: true
  layergen:
    enabled: true
toolchains:
  gcc: true
  llvm: true
platforms:
  mlif:
    enabled: true
    features:
      debug: true
      validate: true
      benchmark: true
targets:
  default: host_x86
  host_x86:
    enabled: true
    features:
      gdbserver: true
  host_x86_ssh:
    enabled: true
  spike:
    enabled: true
    features:
      vext: true
      log_instrs: true
  canmv_k230_ssh:
    enabled: true
    features:
      vext: true
postprocesses:
  use: []
vars:
  allow_extensions: false
  runs_per_stage: true
  spike.xlen: 64
  spike.legacy: false
  spike_rv64.legacy: false
  spikepk.default_arch: "rv64gc"
  spikepk.default_abi: "lp64d"
  spikepk.enable_rv32: false
  spikepk.enable_rv64: true
  llvm.dl_url: "https://github.com/PhilippvK/riscv-tools/releases/download/llvm_19.1.1/clang+llvm-19.1.1-x86_64-linux-gnu-ubuntu-{{ ubuntu_version if ubuntu_version is defined else '20.04'}}.tar.xz"
  riscv_gcc.enable_rv32: false
  riscv_gcc.enable_rv64: true
  riscv_gcc_rv64.name: riscv64-unknown-linux-gnu
  riscv_gcc_rv64.dl_url: "https://github.com/PhilippvK/riscv-tools/releases/download/gnu_2024.09.03_gcc14/riscv64-unknown-linux-glibc-ubuntu-{{ ubuntu_version if ubuntu_version is defined else '20.04'}}-rv64gc_lp64d_linux_medany.tar.xz"  # gcc14
  riscv_gcc_rv64.dl_url_vext: "https://github.com/PhilippvK/riscv-tools/releases/download/gnu_2024.09.03_gcc14/riscv64-unknown-linux-glibc-ubuntu-{{ ubuntu_version if ubuntu_version is defined else '20.04'}}-rv64gcv_lp64d_linux_medany.tar.xz"  # gcc14
flags: {}
