---
home: "{{ home_dir }}"
logging:
  level: DEBUG
  to_file: false
  rotate: false
cleanup:
  auto: true
  keep: 50
paths:
  deps: deps
  logs: logs
  results: results
  plugins: plugins
  temp: temp
  models:
    - "{{ home_dir }}/models"
    - "{{ config_dir }}/models"
repos:
  tvm:
    url: "https://github.com/apache/tvm.git"
    ref: v0.17.0
    options:
      recursive: true
  mlif:
    url: "https://github.com/tum-ei-eda/mlonmcu-sw.git"
    ref: 102cc1f3f23efee78010d6b2d0e5ebc2f27d0c6e
  espidf:
    url: "https://github.com/espressif/esp-idf.git"
    ref: v5.4
    options:
      recursive: true
  etiss_perf:
    url: "https://github.com/tum-ei-eda/etiss.git"
    ref: kws_perf
frameworks:
  default: tvm
  tvm:
    enabled: true
    backends:
      default: tvmaotplus
      tvmrt:
        enabled: true
        features:
          debug_arena: true
          disable_legalize: false
          autotuned: true
      tvmaot:
        enabled: true
        features:
          debug_arena: true
          unpacked_api: true
          usmp: true
          disable_legalize: false
          autotuned: true
      tvmaotplus:
        enabled: true
        features:
          debug_arena: true
          disable_legalize: false
          autotuned: true
      tvmllvm:
        enabled: true
        features:
          # unpacked_api: true
          disable_legalize: false
          autotuned: true
          moiopt: true
    features:
      cmsisnnbyoc: false
      muriscvnnbyoc: false
frontends:
  tflite:
    enabled: true
    features:
      validate: true
      visualize: true
      split_layers: false
toolchains:
  gcc: true
  llvm: false
platforms:
  mlif:
    enabled: true
    features:
      debug: true
      validate: true
      benchmark: true
  espidf:
    enabled: true
    features:
      debug: true
  microtvm:
    enabled: true
    features: []
# List of supported targets in the environment
targets:
  default: esp32c3
  etiss_perf:
    enabled: true
    features:
      gdbserver: true
      etissdbg: false
      trace: true
      log_instrs: true
      perf_sim: true
  host_x86:
    enabled: true
    features:
      gdbserver: true
  microtvm_host:
    enabled: true
  microtvm_espidf:
    enabled: false
postprocesses:
  use: []
vars:
  allow_extensions: false
  runs_per_stage: true
  llvm.dl_url: "https://github.com/PhilippvK/riscv-tools/releases/download/llvm_18.1.8/clang+llvm-18.1.8-x86_64-linux-gnu-ubuntu-{{ ubuntu_version if ubuntu_version is defined else '20.04'}}.tar.xz"
  riscv_gcc_rv32.dl_url: "https://github.com/PhilippvK/riscv-tools/releases/download/gnu_2024.09.03_gcc14/riscv32-unknown-elf-ubuntu-{{ ubuntu_version if ubuntu_version is defined else '20.04'}}-rv32gc_ilp32d.tar.xz"
  # espidf.install_dir: /usr/local/research/projects/SystemDesign/tools/esp/v5.4.1/espressif_py310
  espidf.install_dir: /usr/local/research/projects/SystemDesign/tools/esp/v5.4.1/espressif
  espidf.src_dir: /usr/local/research/projects/SystemDesign/tools/esp/v5.4.1/esp-idf
  riscv_gcc_rv32.install_dir: /usr/local/research/projects/SystemDesign/tools/esp/v5.4.1/espressif_py310/tools/riscv32-esp-elf/esp-14.2.0_20241119/riscv32-esp-elf
  etiss_perf.src_dir: /usr/local/research/projects/SystemDesign/work/performance-evaluation/varghese/PerformanceSimulation_workspace/etiss-perf-sim/etiss/
  etiss_perf.install_dir: /usr/local/research/projects/SystemDesign/work/performance-evaluation/varghese/PerformanceSimulation_workspace/etiss-perf-sim/etiss/build_dir/installed
  etiss_perf.exe: /usr/local/research/projects/SystemDesign/work/performance-evaluation/varghese/PerformanceSimulation_workspace/etiss-perf-sim/etiss/build_dir/installed/bin/bare_etiss_processor
  etiss_perf_plugin.skip_link: true
flags: {}
